:root {
    --text-color:#717171;
    --title-color: black;
}


h1 {
	position: absolute; 
	left: -999em;
}

h2 {
    font-size: 1em;
    color: var(--text-color)
}

section a {
    color: var(--title-color);
    text-decoration: none;
    font-weight: bold;
}

section {
    padding-bottom: 5em;
}
p {
	text-align: center;
    width: 20em;
    font-weight: bold;
    color: var(--text-color);
}
